
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <div class="gridStyle" ui-grid="{ data: customers }">
        </div>
        <!--<br />
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="customer in customers">
                    <td>
                        {{ customer.customerID }}
                    </td>
                    <td>
                        {{ customer.companyName }}
                    </td>
                    <td>
                        {{ customer.contactName }}
                    </td>
                    <td>
                        {{ customer.address }}
                    </td>
                </tr>
            </tbody>
        </table>-->
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>

