
<div class="row">
    <div class="col-sm-4" style="background-color:lavender;margin-right:5px;">
        <div class="row">
            <div class="col-md-3">
                <img src="../../Content/Image/empl.png" class="img-rounded" height="72" width="65" style="margin-top:10px;margin-right:10px;" />
            </div>
            <div class="col-md-1" style="margin-top:50px;margin-right:8px;">
                <h4>{{EmployeeDeteil.firstName}}</h4>
            </div>
            <div class="col-md-2" style="margin-top:50px;">
                <h4>{{EmployeeDeteil.lastName}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h6>EmployeId</h6>
            </div>
            <div class="col-md-1">
                <h4>{{EmployeeDeteil.employeeID}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Country</h6>
            </div>
            <div class="col-md-3">
                <h4>{{EmployeeDeteil.country}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>City</h6>
            </div>
            <div class="col-md-3">
                <h4>{{EmployeeDeteil.city}}</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="background-color:lavenderblush;margin-right:5px;">.col-sm-4</div>
    <div class="col-sm-3" style="background-color:lavender;">.col-sm-4</div>
</div>



