<div class="row">
    <fieldset>
        <legend>Edit Employee</legend>

        <input type="text" class="form-control" ng-model="employeeID" ng-readonly="true">
        <input type="text" class="form-control" ng-model="editEmployee.firstName" placeholder="First Name...">
        <input type="text" class="form-control" ng-model="editEmployee.lastName" placeholder="Last Name...">
        <input type="text" class="form-control" ng-model="editEmployee.city" placeholder="City...">
        <input type="text" class="form-control" ng-model="editEmployee.country" placeholder="Country...">
        <input type="text" class="form-control" ng-model="editEmployee.extension" placeholder="Extension...">


        <div class="button-search">
            <button type="submit" class="btn btn-md btn-info" ng-click="updateEmployee()">
                <strong>Save</strong>
            </button>
        </div>
    </fieldset>
</div>