<div class="row">
    <fieldset>
        <legend>Search Employee</legend>

        <input type="text" class="form-control" ng-model="searchParams.firstName" placeholder="First Name...">
        <input type="text" class="form-control" ng-model="searchParams.lastName" placeholder="Last Name...">
        <input type="text" class="form-control" ng-model="searchParams.city" placeholder="City...">
        <input type="text" class="form-control" ng-model="searchParams.country" placeholder="Country...">
        <input type="text" class="form-control" ng-model="searchParams.extension" placeholder="Extension...">

        <div class="button-search">
            <button class="btn btn-md btn-info" type="submit" data-ng-click="search()">
                <strong>Search</strong>
            </button>
            <button class="btn btn-md btn-info" type="submit" data-ng-click="reset()">
                <strong>Reset</strong>
            </button>
        </div>
    </fieldset>
</div>
<form class="row" style="margin-top:10px">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>EmployeeID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>City</th>
                <th>Country</th>
                <th>Extension</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="employee in employees" ng-click="selectEmployee(employee)">
                <td>
                    <a ng-href="#/employeeDeteil/{{employee.employeeID}}"></a>
                    {{ employee.employeeID}}
                </td>
                <td>
                    {{ employee.firstName}}
                </td>
                <td>
                    {{ employee.lastName}}
                </td>
                <td>
                    {{ employee.city}}
                </td>
                <td>
                    {{ employee.country}}
                </td>
                <td>
                    {{ employee.extension}}
                </td>
                <td>
                    <p><a href="#/employeeEdit/{{ employee.employeeID}}">Edit</a> | <a>Delete</a></p>
                </td>
            </tr>
        </tbody>
    </table>
</form>


